<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Courgette|EB+Garamond|Martel|Poiret+One|Radley" rel="stylesheet">
    <!-- Materialize style sheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <title>Side Project</title>
  </head>
  <body>
    <!-- loads partial files -->

    <!-- you need this body tag for handlebars to render your body content -->
    {{{body}}}

    <!-- jquery CDN -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="/javascript/inputField.js">
    </script>



  </body>
</html>
