<h1>Your new beginning... Starts with you. </h1>

<div class="container">
<br><br><br><br><br>



  <div class="row">
    <div class="col s2">

    </div>
    <div class="col s4">
      <!-- <img  id="e" src="/image/road_login.jpg" alt=""> -->

    </div>

    <!-- Start of Login field -->
    <section>

      <form id="login_form_field" class="col s4" action="/users/register" method="post">
        <div class="row">
          <div id= "test" class="input-field col s6">
            <input id="first_name" type="text" class="validate" name="firstname">
            <label for="last_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate" name="lastname">
            <label for="last_name">Last Name</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate" name ="password">
            <label for="password" >Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" name="email">
            <label for="email">Email</label>
            <span class="helper-text" data-error="Please insert valid Email" data-success="Success! :)"></span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            </button>
      </form>
    </section>
    <!-- End of login field -->


</div>
